<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <h1><%= mainheading %></h1>
    <p>Hello, World! <%= title %> !!!!</p>

    <scripts src="/Scripts/app.js"></scripts>
  </body>
</html>
